<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbgu.zmz.communityadmin.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.bbgu.zmz.communityadmin.model.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="topic_id" jdbcType="BIGINT" property="topicId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="comment_create" jdbcType="BIGINT" property="commentCreate" />
    <result column="comment_modified" jdbcType="BIGINT" property="commentModified" />
    <result column="agree_num" jdbcType="BIGINT" property="agreeNum" />
    <result column="is_accept" jdbcType="INTEGER" property="isAccept" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>