<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbgu.zmz.communityadmin.mapper.KindMapper">
  <resultMap id="BaseResultMap" type="com.bbgu.zmz.communityadmin.model.Kind">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="kindname" jdbcType="VARCHAR" property="kindname" />
    <result column="kind_create" jdbcType="BIGINT" property="kindCreate" />
    <result column="kind_modified" jdbcType="BIGINT" property="kindModified" />
  </resultMap>
</mapper>